/* Enkel styling for å gjøre siden penere */
body {
    font-family: Arial, sans-seriff;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
   }
    
    h1 {
    color: #333;
    }
    
    p {
    font-size: 18px;
    }
    
    .result {
    font-weight: bold;
    color: #007BFF;
   }