/* ---------- Generelt ---------- */
body {
  background-color: #f4f0f8


  ;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000;
}
table {
  background-color: white; /* Hvitt bakgrunn */
  border-collapse: collapse; /* Slår sammen kantlinjer */
  text-align: center; /* Sentraliserer tekst */
  margin: 10px auto; /* Sentraliserer tabellen på siden */
}

td, th {
  border: 1px solid black; /* Kantlinjer */
  padding: 10px; /* Litt luft rundt teksten */
}

/* ---------- Overskrifter ---------- */
h1 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  font-size: 33px;
}

h2 {
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

h3 {
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

/* ---------- Icon bar ---------- */
/* Icon bar under */ body {margin:0;} 
.icon-bar {
  display: flex;
  justify-content: space-around;
  background-color: #7d5ba6;
  padding: 10px 0;
}

.icon-bar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.icon-bar a i {
  font-size: 24px; /* Størrelse på ikonet */
  margin-bottom: 5px;
}

.icon-bar a:hover {
  background-color: #000;
  border-radius: 8px;
  padding: 5px 0;
}

/* ---------- Grid ---------- */
.grid-container {
  display: grid;
  grid-template-areas:
      "main main main left left left"
      "main main main left left left"
      "main main main left left left";
  gap: 10px;
  padding: 50px;
  margin-bottom: 50px;
}

.item1, .item2 {
  padding: 20px;
  border-radius: 8px;
  background-color: #bca2c8

  ;
  color: #333;
  font-size: 1.1em;
  text-align: center;
}

.item1 img, .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item1 { grid-area: main; }
.item2 { grid-area: left; }

/* ---------- Footer ---------- */
.underside {
  background-color: #bca2c8;
  padding: 100px 20px;
  text-align: center;
  position: relative;
}

.underside p {
  margin: 0;
  font-size: 20px;
}

/* ---------- Mobiltilpasning ---------- */
@media (max-width: 768px) {

  h1 {
      font-size: 28px;
  }

  .icon-bar {
    flex-direction: column;
  }
  .icon-bar a {
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
  }
  .icon-bar a i {
    margin: 0 10px 0 0;
  }
}

  .grid-container {
      grid-template-areas:
          "main"
          "left";
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 20px;
  }

  .item1, .item2 {
      font-size: 1em;
      padding: 15px;
  }

  .flex-container {
      flex-direction: column;
      margin: 10px;
      gap: 10px;
  }

  .flex-container > div {
      flex: 1 1 100%;
      line-height: 200px;
      max-width: 100%;
  }

  .underside {
      padding: 60px 20px;
  }
 