body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFE08F; /* varm gul farge */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e2e2e;
}

#boks { 

    height: 50px; 

    width: auto; 

    background-color: rgb(255, 0, 0); 

    position: relative; 

    animation-name: frem-og-tilbake; 

    animation-duration: 5s; 

    animation-iteration-count: infinite; 

    animation-direction: alternate; 

} 

@keyframes frem-og-tilbake { 

    0% { 

        left: 0px; 
        right: 0px;

    } 

    50%{
        left: 0px; 
        right: 0px;
        background-color: #D94F4F;
    }


    100%{
        left: 0px; 
        right: 0px;
        background-color: #FFD166;
    }
} 

/* Header */
.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    color: #D94F4F;
    font-size: 50px;
    margin-bottom: 20px;
}

.header p {
    font-size: 24px;
}

.centered {
    text-align: center;
}

/* Tekst Animasjon */
.sentence {
    font-size: 32px;
    font-weight: 300px;
  }

  .du-anim {
    display: inline-block;
    animation: pop 3s infinite ease-in-out;
    font-weight: 900;
  }

  @keyframes pop {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.4); }
    100% { transform: scale(1); }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .box {
    width: 800px;
    background-color: #FFD166;
    border-radius: 36px;
    padding: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    animation: grow 2s infinite ease-in-out;
  }

  @keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  p {
    margin: 0 0 50px 0;
  }

  strong {
    color: #000000;
  }


/* Bilde */
.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 1px 0;
}

.responsive-img {
    max-width: 50%;
    height: 50%;
    border-radius: 12px;
}

.underside{
    color: #000000;
    text-align: center;
    height: 300px;
    background-color: #FFD166;
}

/* Quiz */
.quiz-section {
    text-align: center;
    margin: 40px 0;
}

.quiz-btn {
    background-color: #D94F4F;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.quiz-btn:hover {
    background-color: #b33a3a;
}
/* Mobiltilpasning */
@media (max-width: 850px) {
    .responsive-img {
        max-width: 80%;
    }

    .header h1 {
        font-size: 36px;
    }

    .header p {
        font-size: 20px;
    }

    .quiz-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .qr-img {
        width: 150px;
        height: 150px;
    }
    .box {
        width: 250px;
        height: 300px;
      }
    
}