body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFE08F; /* varm gul farge */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e2e2e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    color: #D94F4F;
    font-size: 50px;
    margin-bottom: 20px;
}

.header p {
    font-size: 24px;
}

/* Bilder */
.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 1px 0;
}

.responsive-img {
    max-width: 50%;
    height: 50%;
    border-radius: 12px;
}

/* Quiz */
.quiz-section {
    text-align: center;
    margin: 40px 0;
}

.quiz-btn {
    background-color: #D94F4F;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.quiz-btn:hover {
    background-color: #b33a3a;
}

/* QR-kode */
.qr-section {
    text-align: center;
    margin: 50px 0;
}

.qr-img {
    width: 200px;
    height: 200px;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
    padding: 0 10px;
}

.info-box {
    background-color: #FFD166; /* varm og lys farge */
    color: #2e2e2e;
    padding: 25px 20px;
    border-radius: 12px;
    min-width: 250px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s, opacity 0.5s;
}

footer, .underside { 
background-color: #FFD166; 
padding: 80px 20px; 
text-align: center; 
margin-top: 60px;
} 

.underside p { 
margin: 5px 0; 
font-size: 20px; 
}

/* Legger inn forsinkelse for hver boks */
.info-box:nth-child(1) { animation: fadeUp 0.8s forwards 0.2s; }
.info-box:nth-child(2) { animation: fadeUp 0.8s forwards 0.4s; }
.info-box:nth-child(3) { animation: fadeUp 0.8s forwards 0.6s; }
.info-box:nth-child(4) { animation: fadeUp 0.8s forwards 0.8s; }

/* Animasjon for fade-in og flytting opp */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Mobiltilpasning */
@media (max-width: 850px) {
    .responsive-img {
        max-width: 80%;
    }

    .header h1 {
        font-size: 36px;
    }

    .header p {
        font-size: 20px;
    }

    .quiz-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .qr-img {
        width: 150px;
        height: 150px;
    }

    .info-box {
        min-width: 80%;
        font-size: 18px;
    }
}