body {
    font-family: sans-serif;
    text-align: center;
    background: hsl(267, 77%, 88%);
  }

  h1{
    font-size: 35px;
  }

  p {
    font-size: 20px;
    margin-bottom: 70px;
  }
  
  .game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid #333;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .cell:hover {
    background: #eee;
  }
  
  #status {
    font-weight: bold;
    margin-top: 10px;
  }