body{
    margin:0;
    background:hsl(267, 77%, 88%);
    color:rgb(0, 0, 0);
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    padding:30px;
    }

    .container{
    background:hsl(267, 84%, 85%);
    padding:20px;
    border-radius:10px;
    width:300px;
    text-align:center;
    }
    
    button{
    margin:5px;
    padding:10px;
    width:100px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#334155;
    color:white;
    font-size:14px;
    }

    button:hover{
    background:#475569;
    }

    .button1 {
    background-color: #9f25ea;
    width: 200px;
    margin-top: 20px;
    }

    
    .scoreboard{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    }
    
    
    .result{
    margin-top:20px;
    }